@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:wght@300;700;800&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;800&display=swap');

/*
    font-family: 'Open Sans', sans-serif;

    font-family: 'Open Sans Condensed', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Inconsolata', monospace;
*/

@font-face {
    font-family: "M + 1";
    src: url("Assets/Fonts/mplus-1m-regular.ttf");
}

@font-face {
    font-family: "M + 1";
    src: url("Assets/Fonts/mplus-1m-bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "M + 1";
    src: url("Assets/Fonts/mplus-1m-light.ttf");
    font-weight: light;
}



:root {
    /*Colour variable definition*/
    --primary: #70ABAF;
    --background: #F0F7F4;
    --accent: #99E1D9;
    --secondary: #32292F;
    --dark: #000000;
    --light: #FFFFFF;
    --lessdark: #222222;
}

body {
    padding: 0;
    margin: 0;
    background: var(--lessdark);
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    background-color: var(--lessdark);
    display: flex;
    justify-content: space-between;
}

.titletext{
    color: var(--accent);
    font-family: 'M + 1', monospace;
    font-size: 3vw;
    margin-left: 2vw;
    font-style: normal;
}

.navigation {
    float: right;
    padding-top: .4vw;
}

.navli {
    float: left;
}

.navli .nava {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'M + 1', monospace;    
    margin-right: 2vw;
    font-size: 1.3vw;
}

#highlightnav {
    background-color: white;
    color: black;
    font-weight: bold;
}

.nava:hover {
    background-color: #666666;
}

#highlightnav:hover {
    background-color: #666666;
    color: white;
}