/*
    font-family: 'Open Sans Condensed', sans-serif;  Light 300, Bold 700

    font-family: 'Source Sans Pro', sans-serif; Extra-Light 200, Light 300, Regular 400

    font-family: 'Varela Round', sans-serif; Regular 400
*/

:root {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    --background: #FFFFFA;
    --black: #000103;
    --jet: #333138;
    --green1: #1D7874;
    --green2: #679289;
}

body {
    margin: 0px;
    padding: 0;
    display:grid;
    color:var(--jet);
    background: var(--background);
}

body::-webkit-scrollbar {
    width:0.15rem;
}

body::-webkit-scrollbar-track{
    background: var(--background);
}

body::-webkit-scrollbar-thumb{
    background: var(--jet);
}

a:link {
    text-decoration: none;
    color: var(--jet);
    
}

a:hover {
    text-decoration: none;
    color: var(--jet);
}

a:visited {
    text-decoration: none;
    color: var(--jet);
}

a:active {
    text-decoration: none;
    color: var(--jet);
}

.link {
    text-decoration: underline !important;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

.bigContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titletext {
    font-family: 'Varela Round', sans-serif;
    color: var(--background);
    padding: 40px;
}

.title {
    align-self: flex-start;
    float: left;
}

#navbar {
    display:inline-flex;
    justify-content: space-between;
}

.navigation {
    padding: auto;
    margin: auto;
    background-image: linear-gradient(to right, var(--green1), var(--green2));
    width: 100%;
}

.navbarbuttons {
    float: right;
    position: absolute;
    top: 50%;
    left: 55%;
    -ms-transform: translateY(-62%);
    transform: translateY(-62%);

}

.navli {
    float: left;
}

.navli .nava {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5vw;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;    
    margin-right: 2vw;
    font-size: 1.3vw;
}

#highlightnav {
    background-color: white;
    color: black;
    font-weight: bold;
}

.nava {
    transition: background-color 0.1s ease-out;
}

.nava:hover {
    background-color: rgba(255,255,255,0.3);
}

#highlightnav:hover {
    background-color: #666666;
    color: var(--background);
}

