/*
    font-family: 'Open Sans Condensed', sans-serif;  Light 300, Bold 700

    font-family: 'Source Sans Pro', sans-serif; Extra-Light 200, Light 300, Regular 400

    font-family: 'Varela Round', sans-serif; Regular 400
*/

:root {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    --background: #FFFFFA;
    --black: #000103;
    --jet: #333138;
    --green1: #1D7874;
    --green2: #679289;
    --teal: #007991;
    --polished-pine: #439A86;
}

body {
    margin: 0px;
    padding: 0;
    display:grid;
    color:var(--jet);
    background: var(--background);
}

body::-webkit-scrollbar {
    width:0.4rem;
}

body::-webkit-scrollbar-track{
    background: var(--green2);
}

body::-webkit-scrollbar-thumb{
    background: var(--jet);
}

::selection {
    background: var(--green2); /* WebKit/Blink Browsers */
  }
::-moz-selection {
    background: var(--green2); /* Gecko Browsers */
  }

a:link {
    text-decoration: none;
    color: var(--jet);
    
}

a:hover {
    text-decoration: none;
    color: var(--jet);
}

a:visited {
    text-decoration: none;
    color: var(--jet);
}

a:active {
    text-decoration: none;
    color: var(--jet);
}

.link {
    text-decoration: underline !important;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

.bigContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titletext {
    font-family: 'Varela Round', sans-serif;
    color: var(--background);
    padding: 40px;
}

.title {
    align-self: flex-start;
    float: left;
}

#navbar {
    display:inline-flex;
    justify-content: space-between;
}

.navigation {
    padding: auto;
    margin: auto;
    background-image: linear-gradient(to right, var(--green1), var(--green2));
    width: 100%;
}

.navbarbuttons {
    float: right;
    position: absolute;
    top: 50%;
    left: 55%;
    -ms-transform: translateY(-62%);
    transform: translateY(-62%);

}

.navli {
    float: left;
}

.navli .nava {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5vw;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;    
    margin-right: 2vw;
    font-size: 1.3vw;
}

#highlightnav {
    background-color: white;
    color: black;
    font-weight: bold;
}

.nava {
    transition: background-color 0.1s ease-out;
}

.nava:hover {
    background-color: rgba(255,255,255,0.3);
}

#highlightnav:hover {
    background-color: #666666;
    color: var(--background);
}

.custom-shape-divider-bottom-1632688346 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 700px;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1632688346 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1632688346 .shape-fill {
    fill: #FFFFFF;
}

#headingArea {
    background-image: linear-gradient(to right, var(--green1), var(--green2));
    height: 40rem;
    text-align: center;
}

.siteheading {
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    margin-bottom: 100px;
    color: var(--background);
}

.mainh1:hover {
    cursor:default;
}

.mainh1 {
    border-radius: 1.6rem;
    padding: 2rem;
    margin-top: 5rem;
    color: var(--background);
    z-index: 1;
    animation: fadeIn linear 5s;
    -webkit-animation: fadeIn linear 5s;
    -moz-animation: fadeIn linear 5s;
    -o-animation: fadeIn linear 5s;
    -ms-animation: fadeIn linear 5s;
}

@keyframes fadeInH1 {
    0% {opacity: 0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeInH1 {
    0% {opacity: 0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeInH1 {
    0% {opacity: 0;}
    100% {opacity:1;}
}

@-o-keyframes fadeInH1 {
    0% {opacity: 0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeInH1 {
    0% {opacity: 0;}
    100% {opacity:1;}
}

.headinglink {
    color: var(--background);
}

.headinglink:visited {
    color: #333138;
}

.headinglink:hover {
    color: var(--background);
    cursor: pointer;
}

.headinglink:active {
    color: var(--background);
}

h2 {
    font-size: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

#projectssubtitle {
    margin-top: 70px;
}

.projectcard {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #efefef;
    padding: 40px;
    width: 60%;
    border-radius: 40px;
    color: var(--jet);
    margin: 30px;
}

.projecttitle {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

.projectdescriptor {
    font-size: 20px;
}

.langlogo {
    float: right;
}

.projectlink:active{
    color: var(--green1);
}

.projectlink:visited{
    color: var(--jet);
}

.projectlink:hover{
    color: var(--green1);
}

#resumesec {
    height: 400px;
    background-image: linear-gradient(to right, var(--teal), var(--polished-pine));
}

#resumesubtitle {
    margin-top: 70px;
    color: var(--background)
}

.resume-a {
    color: var(--jet);
    font-size: 20px;    
}

.resumebutton {
    background-color: var(--background);
    padding: 40px;
    margin: 40px;
    width: 200px;
    text-align: center;
    border-radius: 50px;
}

#aboutme {
    height: 400px;
}

.whitespace-1 {
    height: 60px;
}

#aboutme {
    margin-top: 70px;
    height: 1250px;
    font-size: 30px;
}

#aboutme p {
    margin: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

.resumelinkb {
    color: var(--green1);
}

#footer {
    height: 40px;
    background-image: linear-gradient(to right, var(--teal), var(--polished-pine));
}

.projecta {
    width:100%;
    margin:0;
    padding: 0;
    align-items: center;
    align-content: center;
}

.projecta .projectcard {
    width: 60%;
    margin-right: 20%;
    margin-left: 17%;
    align-self: center;
}