/*Colombo Font*/
@font-face {
    font-family: "Colombo";
    src: url("Assets/Fonts/Colombo Sans/Colombo Sans Font.ttf") format("tff");
}

/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('Assets/Fonts/raleway-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('Assets/Fonts/raleway-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Assets/Fonts/raleway-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('Assets/Fonts/raleway-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('Assets/Fonts/raleway-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Assets/Fonts/raleway-v17-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  
  /* raleway-300 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url('Assets/Fonts/raleway-v17-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('Assets/Fonts/raleway-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Assets/Fonts/raleway-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('Assets/Fonts/raleway-v17-latin-300.woff') format('woff'), /* Modern Browsers */
         url('Assets/Fonts/raleway-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Assets/Fonts/raleway-v17-latin-300.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  
  /* raleway-600 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('Assets/Fonts/raleway-v17-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('Assets/Fonts/raleway-v17-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Assets/Fonts/raleway-v17-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('Assets/Fonts/raleway-v17-latin-600.woff') format('woff'), /* Modern Browsers */
         url('Assets/Fonts/raleway-v17-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Assets/Fonts/raleway-v17-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  
  /* raleway-800 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('Assets/Fonts/raleway-v17-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('Assets/Fonts/raleway-v17-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Assets/Fonts/raleway-v17-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('Assets/Fonts/raleway-v17-latin-800.woff') format('woff'), /* Modern Browsers */
         url('Assets/Fonts/raleway-v17-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Assets/Fonts/raleway-v17-latin-800.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  
  /* raleway-900 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: url('Assets/Fonts/raleway-v17-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('Assets/Fonts/raleway-v17-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Assets/Fonts/raleway-v17-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('Assets/Fonts/raleway-v17-latin-900.woff') format('woff'), /* Modern Browsers */
         url('Assets/Fonts/raleway-v17-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Assets/Fonts/raleway-v17-latin-900.svg#Raleway') format('svg'); /* Legacy iOS */
  }

  /* roboto-300italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('Assets/Fonts/roboto-v20-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
         url('Assets/Fonts/roboto-v20-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Assets/Fonts/roboto-v20-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('Assets/Fonts/roboto-v20-latin-300italic.woff') format('woff'), /* Modern Browsers */
         url('Assets/Fonts/roboto-v20-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Assets/Fonts/roboto-v20-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('Assets/Fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('Assets/Fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Assets/Fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('Assets/Fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('Assets/Fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Assets/Fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }

  /* varela-round-regular - latin */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: url('Assets/Fonts/varela-round-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Varela Round Regular'), local('VarelaRound-Regular'),
         url('Assets/Fonts/varela-round-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Assets/Fonts/varela-round-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('Assets/Fonts/varela-round-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('Assets/Fonts/varela-round-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Assets/Fonts/varela-round-v13-latin-regular.svg#VarelaRound') format('svg'); /* Legacy iOS */
  }
  


/*
Colour palette:
Light Cyan: #D6FFF6
Russian Violet: #231651
Medium Turquoise: #4DCCBD
Spanish Blue: #2374AB
Light Coral: #FF8484
*/

/*Placeholder Text*/
.loremipsum:before {
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor enim nec vestibulum mollis. Aenean elementum facilisis volutpat. In hendrerit magna laoreet justo dictum lacinia. Nunc bibendum id dolor non sollicitudin.";
}














/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*Scrollbar using webkit */
body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background: #231651;
}

/*Scrollbar for Firefox - currently not working on Firefox or IE*/

body {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #231651 #FFFFFF;
}


/*Basic Things defined here:*/

:root {font-family: "Roboto", sans-serif;}

body{
    color: black;
    margin: 0;
    padding:0;
}

main{
    margin-left: 5rem;
    padding: 16px;
}


/*Navbar defined here:*/
.navy {
    position: fixed;
    background-color: #0A1123;
    transition: width 200ms ease;
    z-index: 100;
}

.navbar {
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big {
    font-size: 24px;
}

.navbar-item{
    width: 100%;
}

.navbar-item{
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: 7px;
    
}
.navbar-item:last-child {
    margin-top: auto;
}

.navbar-item:hover{
    background-color: #231631;
    transition: 300ms
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #4DCCBD;
    text-decoration: none;
}


.navy:hover .link-text {
    opacity: 100%;
    transition: 300ms;
}

.link-text{
    display: none;
    margin-left: 1rem;
    transition: 200ms;
    opacity: 0;
}

.nav-link i {
    min-width: 2rem;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: #FF8484;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}

/*Certain things for smaller devices listed here:*/
.navy{
    width: 5rem;
    height: 100vh;
    z-index: 90;
}

.navy:hover {
    width: 18rem;
}

.navy:hover .link-text {
    display: block;
}

.navy:hover.logo {
    background-color: #231651;
}

.footer {
    height: 80px;
    background-color: #0A1123;
    margin: -30px;
    margin-top: 50px;
}

/*Index.html Components*/

/*Title Area*/

#titlecard {
    z-index: 90;
    width: auto;
    display: block;
    height: 100vh;
    margin-right: -17px;
    margin-left: -17px;
    margin-top: -17px;
}

img { 
    max-width:100%; 
    height:auto; 
} 

#galazy{
    z-index: -10;
    position: fixed;
    width: 100vw;
}

#title {
    font-family: 'Raleway', sans-serif;
    font-weight: 900px;
    font-size: 100px;
    position: absolute;
    text-align:right;
    top: 35px;
    left:580px;
    z-index: 89;
    width: 600px;
    color: white;
    padding: 40px;
    border-radius: 5px;
}

/*Card Content Area
Can be used with JS to automatically get 
tweets/fb posts/ig posts for content*/

#socialmedia {
    margin-top: 50px;
    padding: 30px;
    display: flex;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 16px;
    background: whitesmoke;
    box-shadow: -0.5rem 0.5rem 4rem #BBBBBB;
    transition: 0.2s;
}

.socialcontent {
    height: 250px;
    width: 400px;
    min-width: 80px;
}

.socialcontent:hover {
    transform: translateY(-1rem);
}

.socialcontent:hover~.card {
    transform: translateX(130px)
}

.socialcontent:not(:first-child) {
    margin-left: -130px;
}

.card-bottom {
    display: flex;
    height: 30px;
}

.twitter {
    height:30px;
    width:30px;
    border-radius: 4px;
}

.whatsnew {
    font-size: 50px;
    padding-right: 30px;
    margin-bottom: -30px;
    text-align: right;
    align-self: end;
}

.products {
    margin: 30px;
    margin-top: 60px;
}

.totop {
    border-radius: 7px;
    width: 100px;
    color: white;
    padding: 20px;
    padding-top: 40px;  
    margin-right: 20px;
    position: relative;
    bottom: 15px;
    float: inline-end;
}

.totop:hover {
    background-color: #231631;
    transition: 300ms
}

#additionalcontent {
    margin-top: 50px;
    margin-bottom: 30px;
}

#additionalcontent:before {
    content: "A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath ";
}

.mainheader{
    height: 200px;
    background-color: #0A1123;
    color: white;
    margin: -80px;
}

.mainheader h2 {
    position: relative;
    top: 80px;
    left: 900px;
    font-size: 70px;
    font-family: "Varela Round", serif;
}