:root {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  --background: #FFFFFA;
  --black: #000103;
  --jet: #333138;
  --green1: #1D7874;
  --green2: #679289;
  --teal: #007991;
  --polished-pine: #439A86;
}