:root {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  --background: #FFFFFA;
  --black: #000103;
  --jet: #333138;
  --green1: #1D7874;
  --green2: #679289;
  --bluepurple1: #72A1E5;
  --bluepurple2: #9883E5;
  --browngray1: #BCB8B1;
  --browngrey2: #8A817C;
  --orange1: #EB4511;
  --orange2: #B02E0C;
  --teal: #007991;
  --polished-pine: #8b9c98;
  --olive: #000;
}

html, body {
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  margin: 0px;
  padding: 0;
  display:grid;
  color:var(--jet);
  background-image: linear-gradient(to right, var(--green1), var(--green2));
}

body::-webkit-scrollbar {
  width:0.4rem;
}

body::-webkit-scrollbar-track{
  background: var(--green2);
}

body::-webkit-scrollbar-thumb{
  background: var(--jet);
}

::selection {
  background: var(--teal); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--polished-pine); /* Gecko Browsers */
}

#AppWraper {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a {
  color: var(--green1);
}

a:link {
  text-decoration: none;
  /* color: var(--jet); */
  
}

a:hover {
  text-decoration: none;
  color: var(--green2)
  /* color: var(--jet); */
}

a:visited {
  text-decoration: none;
  /* color: var(--jet); */
}

a:active {
  text-decoration: none;
  /* color: var(--jet); */
}

.link {
  text-decoration: underline !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style: none;
}

#HeaderParent {
  height: 100vh;
  width: 100vw;
  padding-top: 5vh;
  color: white;
}

#nav {
  display: table;
  margin: 0 2rem;
  float: right;
}

#naul {
  margin: 0px;
}

.navLi {
  display: inline;
  font-size: 1.7rem;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;  
  font-weight: 100;
}

.navA {
  padding: 2rem; 
  color: white;
  border-radius: 0.2rem;
}

.navA:hover {
  background-color: rgba(255,255,255,0.3);
  color: white;
}

#siteHeader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
}

#siteP {
  justify-content: center;
  font-size: clamp(2rem, 6vw, 6rem);
  text-align: center;
}

#dropdownParent {
  margin: 20vh 0 20vh;
  padding: 10vh;
}

#topLeftLogo {
  font-family: "Varela Round";
  font-size: clamp(1rem, 2vw, 2.5rem);
  padding-left: 2rem;
}

@keyframes poof {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#navSandwichMenu {
  height: 3rem;
  width: 3rem;
  margin-top: -.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

#navSandwichMenu:hover {
  background-color: rgba(255,255,255,0.3);
}

.hamburgerline {
  width: 2rem;
  height: 0.05rem;
  background-color: #FFFFFF;
  margin: 0.6vw;
  z-index: 1;
}

#sandwichMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000103;
  z-index: 0.8;
}

/* .arrow CSS from https://codepen.io/pjwiebe/pen/VmmxpM */
.arrow {
  position: absolute;
  box-sizing: border-box;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  left: 50%;
  transform: rotate(45deg) translate(0, 50%);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.arrowa {
  transition: 400ms;
}

#bigArrow {
  height: 2vw;
  width: 2vw;
  top: 90%;
}

.readMoreText {
  position: absolute;
  top: 85%;
  left: 49.3%;
  transform: translate(0, 50%);
}

.contentSection {
  margin: 0;
  padding: 0;
}

#verticalTabOpts {
  animation: 1s poof forwards;
}

#navul {
  animation: 1s poof forwards;
}

#siteP {
  animation: 1s poof forwards;
}

.navAVert {
  margin: 8rem; 
  color: white;
  border-radius: 0.2rem;
}

.navAVertHover:hover {
  background-color: rgba(255,255,255,0.3);
  color: white;
}

#ProjectsTitleSVG {
  float:right;
  margin: 4rem;
}

.subtitle{
  color: #FFFFFF;
}

#Pad, #Pencil, #Tip, #Eraser {
  transition: all 2s ease;
}

.HomeLinks > div {
  min-width: 0px;
  margin: 8vh 6vw 0;
  width: 88vw;
}

#dividerItem1 {
  height:2vh;
}

.shadedBoxShadow {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

#blogAd {
  display: grid;
  width: 70vw;
  background-color: var(--background);
  padding: 6vh 9vw 6vh 9vw;
  border-radius: 20px;
}

#recentBlogPost {
  width: 70vw;
}

h2 {
  font-family: "Varela Round";
  font-size: 6vw;
}

h3 {
  margin-top: 4vh;
  font-family: "Varela Round";
  font-size: 3vw;
}

.rblogContent {
  font-size: 3vw;
}

#moreBlogContentButton {
  text-decoration: none;
  border: none;
  background: #EEEEEE;
  font-size: 3vw;
  padding: 2vh 2vw;
  margin: 6vh 10vw 0;
  font-family: "Varela Round";
  border-radius: 4vh;
  text-align: center;
  vertical-align: middle;
  color: var(--jet);
  width: 50vw;
}

#quickLinks {
  display: grid;
  flex-wrap: wrap;
  background-color: var(--background);
  padding: 8vh 8vw;
  border-radius: 20px;
  width: 71.7vw;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.socialsButton {
  height: 8vh;
  width: minmax(240px, 25vw);
  margin : 1vw;
  text-decoration: none;
  border: none;
  font-family: "Varela Round";
  font-size: 4vw;
  border-radius: 6vh;
  text-align: center;
  vertical-align: middle;
  line-height: 8vh;
  z-index: 1;
}


@media screen and (min-width: 620px) {
  h2 {
    font-size: 37.5px;
  }
  h3 {
    font-size: 18.75px;
  }
  .rblogContent {
    font-size: 18.75px;
  }
  .socialsButton {
    font-size: 25px;
  }
  #moreBlogContentButton {
    font-size: 18.75px;
  }
}

.socialsButton:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

/*link hover visited active*/

#linkedInButton {
  background-color: #2977C9;
  color: #FFFFFF;
}

#githubButton {
  background-color: #000000;
  color: #FFFFFF;
}

#resumeButton {
  background-color: #EEE;
  color: #000000;
}

#resumeButton:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}

#idkyet {
  height: 20vh;
}

#canvaScrollHolder {
  height: 1400vh;
  min-height: 1400vh;
  margin: 0;
  width: 100vw;
  padding: 0;
}

.custom-shape-divider-bottom-1632688346 {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 700px;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1632688346 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1632688346 .shape-fill {
  fill: #FFFFFF;
}

#curveHolder {
  margin: -40vh 0 0;
}

#enggrid {
  width: 100vw;
  background-color: white;
  margin: 0;
  padding: 0;
  top: 0;
  display: grid;
}

#NotionLink {
  height: 10vh;
  width: 80vw;
  margin: 8vw;
}

#notionButton {
  background-color: #EEE;
  color: #000000;
  margin: 1vw;
}

#notionButton:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
}

#NotionLink {
  display: grid;
  flex-wrap: wrap;
  background-color: var(--background);
  padding: 8vh 8vw;
  border-radius: 20px;
  width: 67vw;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.ProjectBox {
  margin: 8vw;
  background-color: #FFF;
  width: 83vw;
  border-radius: 2vh;
  padding-bottom: 0;
}

.ProjectBoxTitle {
  font-weight: bold;
  font-size: 3.5vw;
  padding: 2vw;
  padding-bottom: 0;
  margin-bottom: 1vh;
}

.ProjectBoxSubtitle {
  font-weight:bold;
  font-size: 1.2vw;
  padding: 2vw;
  padding-bottom: 0;
}

.ProjectBoxText {
  padding: 2vw;
  padding-bottom: 0;
}

.ProjectSpacer {
  padding: 2vw;
  padding-bottom: 0;
  height: 4vh;
}

#footer {
  height: 10vh;
}