:root {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  --background: #FFFFFA;
  --black: #000103;
  --jet: #333138;
  --green1: #1D7874;
  --green2: #679289;
  --bluepurple1: #72A1E5;
  --bluepurple2: #9883E5;
  --browngray1: #BCB8B1;
  --browngrey2: #8A817C;
  --orange1: #EB4511;
  --orange2: #B02E0C;
  --teal: #007991;
  --polished-pine: #439A86;
}

html, body {
  overscroll-behavior-y: none;
}

body {
  font-size: 16px;
  margin: 0px;
  padding: 0;
  display:grid;
  color:var(--jet);
  background-image: linear-gradient(to right, var(--green1), var(--green2));
}

body::-webkit-scrollbar {
  width:0.4rem;
}

body::-webkit-scrollbar-track{
  background: var(--green2);
}

body::-webkit-scrollbar-thumb{
  background: var(--jet);
}

::selection {
  background: var(--green2); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--green2); /* Gecko Browsers */
}

#AppWraper {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a:link {
  text-decoration: none;
  /* color: var(--jet); */
  
}

a:hover {
  text-decoration: none;
  /* color: var(--jet); */
}

a:visited {
  text-decoration: none;
  /* color: var(--jet); */
}

a:active {
  text-decoration: none;
  /* color: var(--jet); */
}

.link {
  text-decoration: underline !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style: none;
}

#HeaderParent {
  height: 65rem;
  width: 100vw;
  padding-top: 5vh;
  color: white;
}

#nav {
  display: table;
  margin: 0 2rem;
  float: right;
}

#naul {
  margin: 0px;
}

.navLi {
  display: inline;
  font-size: 1.7rem;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;  
  font-weight: 100;
}

.navA {
  padding: 2rem; 
  color: white;
  border-radius: 0.2rem;
}

.navA:hover {
  background-color: rgba(255,255,255,0.3);
  color: white;
}

#siteHeader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
}

#siteP {
  justify-content: center;
  font-size: clamp(2rem, 6vw, 6rem);
  text-align: center;
}

#topLeftLogo {
  font-family: "Varela Round";
  font-size: clamp(1rem, 2vw, 2.5rem);
  padding-left: 2rem;
}

@keyframes poof {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#navSandwichMenu {
  height: 3rem;
  width: 3rem;
  margin-top: -.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#navSandwichMenu:hover {
  background-color: rgba(255,255,255,0.3);
}

.hamburgerline {
  width: 2rem;
  height: 0.05rem;
  background-color: #FFFFFF;
  margin: 0.3rem;
  z-index: 1;
}

#sandwichMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000103;
  z-index: 0.9;
}

/* .arrow CSS from https://codepen.io/pjwiebe/pen/VmmxpM */
.arrow {
  position: absolute;
  box-sizing: border-box;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  left: 50%;
  transform: rotate(45deg) translate(0, 50%);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

#bigArrow {
  height: 2vw;
  width: 2vw;
  top: 90%;
}

.readMoreText {
  position: absolute;
  top: 85%;
  left: 49.3%;
  transform: translate(0, 50%);
}

.contentSection {
  margin: 0;
  padding: 0;
}

#mouseHighlight {
  color: rgba(255,255,255,0.5);
  z-index: -1;
  width: 60px; 
	height: 60px; 
  border-radius: 50%; 
  position: absolute;
}

#homeContentSection {
  height: 2600vh
}

#threeAnim {
  position: sticky;
  top: 0;
}

#verticalTabOpts {
  animation: 1s poof forwards;
}

#navul {
  animation: 1s poof forwards;
}

#siteP {
  animation: 1s poof forwards;
}

.navAVert {
  margin: 2rem; 
  color: white;
  border-radius: 0.2rem;
}

.navA:hover {
  background-color: rgba(255,255,255,0.3);
  color: white;
}