:root {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  --background: #FFFFFA;
  --black: #000103;
  --jet: #333138;
  --green1: #1D7874;
  --green2: #679289;
  --bluepurple1: #72A1E5;
  --bluepurple2: #9883E5;
  --browngray1: #BCB8B1;
  --browngrey2: #8A817C;
  --orange1: #EB4511;
  --orange2: #B02E0C;
  --teal: #007991;
  --polished-pine: #8b9c98;
  --olive: #000;
}

html, body {
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, var(--green1), var(--green2));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
